<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8" />
/*<!--   <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" /> -->*/
</head>

<style>

  body
{
  background: url("test.jpeg") fixed;
  background-size: 100%;
  font-family: arial;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

p
{
  margin-top:0px;
  text-align: justify;
}

</style>
  
<body>

  <div class="container">
  </br>
  <h1><center>Mon formulaire de contact</center></h1>
</br>
</ul>
</br></br></br></br></br></br>

<h2>Nom</h2>
</br>

<h3>Prenom</h3>


<h3>/h3>
</br>
</div>
</body>
</html>
